build-x86/
build-mips/
local.mk
test/e2e_home/
*.o
build-mips2/
test/mock.log
test/mock.pid
test/tmp-skill-serve/
test/tmp-skill-serve/
deploy.sh
deploy/
scripts/
build-arm/
test/skillhome/
.build-deps/
release/
